*{
    margin: 0;
    font-family: 'Gotham', sans-serif;
}


/* Home page */

.homeContainer{
    /* border: solid #0f0; */
    width: 100%;
    color: #fff;
    height: 100%;
    margin-top: 10px;
    margin-left: 7%;
}
.homeList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.homeItem{
    margin: 5px;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
}