.ItemContainer{
    display: flex;
    flex-direction: column;
    border: solid #f00;
    width: 250px;
    height: 200px;
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
    border: rgb(134, 0, 0);
}
.ItemDesc{
    font-size: 15px;
    /* display: none; */
}