.navbar{
    display: flex;
    flex-direction: column;
    width: 5%;
    height: 99.7%;
    justify-content: center;
    align-items: center;
    background: #222;
}
.mg{
    margin: 8px;
}
.ig{
    width: 50px;
    border: 1px solid #0f0;
    height: 50px;
    cursor: pointer;
}